
.formata { /* esta classe é somente 
               para formatar a fonte */
    font: 11px arial, verdana, helvetica, sans-serif; 
    font-weight: bold;
}
a.dcontexto{
    position:relative; 
    /*font:12px arial, verdana, helvetica, sans-serif;*/ 
    padding:0;
    color:#000;
    text-decoration:none;
    /*border-bottom:2px dotted #039;*/
    cursor:help; 
    z-index:24;
}
a.dcontexto:hover{
    background:transparent;
    z-index:25; 
}
a.dcontexto span{display: none}
a.dcontexto:hover span{ 

    display:block;
    position:absolute;
    width:300px; 
    top:1em;
    /*text-align:justify;*/
    left:-80px;
    /*font: 12px arial, verdana, helvetica, sans-serif;*/ 
    padding:5px 10px;
    border:1px solid #999;
    background:#e0ffff; 
    color:#000;
    font-weight: bold;
}

#formata {
    font: 11px arial, verdana, helvetica, sans-serif; 
    font-weight: bold;
}

.table-scrollable{
    overflow-x: hidden;   
    overflow-y: hidden; 
}
